<div class="container">

  <div>
    <h1>Labour cost report</h1>
  </div>
  <div>

    <table>
      <thead>
      <tr>
        <th (click)="orderFinally('name',!sortAsc)">
          PAYROLL PROVIDER
          <span [innerHTML]="getOrder('name')"></span>
        </th>
        <th (click)="orderFinally('workerCount',!sortAsc)">
          WORKER
          <span [innerHTML]="getOrder('workerCount')"></span>
        </th>
        <th (click)="orderFinally('complianceScore',!sortAsc)">
          COMPLIANCE SCORE
          <span [innerHTML]="getOrder('complianceScore')"></span>
        </th>
        <th (click)="orderFinally('grossPayTotal',!sortAsc)" class="text-right">
          GROSS PAY(&pound;)
          <span [innerHTML]="getOrder('grossPayTotal')"></span>
        </th>
        <th class="text-right">PAYROLL ADMIN</th>
        <th (click)="orderFinally('labourCostTotal',!sortAsc)" class="text-right">
          LABOUR COST(&pound;)
          <span [innerHTML]="getOrder('labourCostTotal')"></span>
        </th>
        <th (click)="orderFinally('workForce',!sortAsc)">
          WORK FORCE
          <span [innerHTML]="getOrder('workForce')"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataTable">
        <td class="name"  [ngClass]="{active:field==='name'}">{{item.name}}</td>
        <td class="number" [ngClass]="{active:field==='workerCount'}">{{item.workerCount}}</td>
        <td class="percentage border"  [ngClass]="{active:field==='complianceScore'}">{{item.complianceScore}}%</td>
        <td class="number total text-right" [ngClass]="{active:field==='grossPayTotal'}">{{item.grossPayTotal | number}}</td>
        <td class="text-right">-</td>
        <td class="number total2 border text-right" [ngClass]="{active:field==='labourCostTotal'}">{{item.labourCostTotal | number}}</td>
        <td class="percentage pr" [ngClass]="{active:field==='workForce'}">{{item.workForce}}%</td>
      </tr>
      </tbody>
      <tfoot>
      <tr><td colspan="7"></td></tr>
      <tr  *ngFor="let item of dataPrincipal?.total">
        <td class="name text-right primary">{{item.name}}</td>
        <td class="number total">{{item.workerCount}}</td>
        <td class="percentage border primary">{{item.complianceScore}}%</td>
        <td class="number total text-right">{{item.grossPayTotal | number}}</td>
        <td class="text-right">-</td>
        <td class="number total  border text-right">{{item.labourCostTotal | number}}</td>
        <td class="percentage pr primary">{{item.workForce}}%</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
